body {
    background-color: #1e1e1e;
}

h1 {
    color: maroon;
}


/* 
new stuff  */
button {
    color: darkgreen;
    background: palegreen;
    font-weight: bold;
    border: none;
    width: 200px;
    height: 35px;
  }
  
  #increment-btn {
    background: grey;
  }